@import '/src/styles.scss';

mat-list {
  padding: 8px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 300px;
}

.header {
  color: $text-light;
}

mat-list-item {
  height: 3rem;
  color: $text-light !important;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #3e3e3e67;
  }
}

mat-icon {
  background-color: rgba(100, 80, 179, 0.25);
}

.income {
  .amount {
    color: $green;
  }
}

.expense {
  .amount {
    color: $red;
  }
}

.transaction-description {
  font-size: 1rem;
  font-weight: 400;
}

.transaction-date {
  font-size: 0.75rem;
  font-weight: 400;
  color: $text-dark;
}
