<mat-list>
  <div mat-subheader *ngIf="title && title.length > 0">{{ title }}</div>
  <mat-list-item
    *ngFor="let transaction of transactions"
    [ngClass]="transaction.type === 'Income' ? 'income' : 'expense'"
  >
    <mat-icon mat-list-icon>paid</mat-icon>
    <div mat-line class="transaction-description">{{ transaction.description }}</div>
    <div mat-line class="transaction-date">{{ transaction.date | date }}</div>

    <div class="amount">
      <span>{{ transaction.type === 'Income' ? '+':'-'}}&nbsp;</span>
      <span>{{ transaction.amount | currency : transaction.currency : 'symbol-narrow':'4.2-2' }}</span>
    </div>
  </mat-list-item>
</mat-list>
